:root{
    --color-primary-brand: #2B7FFF;
    --color-primary-dark: #011C44;
    --color-primary-light: #FFFFFF;
    --color-text-main: #4A4A4A;
    --color-text-secondary: #747272;
    --color-background-dark: #011F4A;
    --color-accent-yellow: #FFD02B;
}

/* Base */

body{
    color: var(--color-background-dark);
}

ul{
    list-style-type: none;
}

/* Button */

.button{
    color: var(--color-primary-light);
    background-color: var(--color-primary-brand);
    border: 2px solid var(--color-primary-brand);
    border-radius: 32px;
    cursor: pointer;
}

.button:hover{
    background-color: transparent;
    color: var(--color-primary-dark);
    border-radius: 32px;
}

/* Link */

.link{
    color: var(--color-primary-dark);
}

.link:hover{
    color: var(--color-primary-brand);
}

/* Hero section */

.hero-subtitle{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-primary-dark);
}

.hero-title{
    color: var(--color-primary-brand);
}

.hero-description{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--color-text-main);
}

/* About section */

/* .section-title{
    color: var(--color-primary-dark);
} */

.section-title .accent-capitalized {
    color: var(--color-primary-brand);
    text-transform: capitalize;
}

.section-title .accent{
    color: var(--color-primary-brand);
}

.paragraph-accent{
    font-weight: bold;
    text-transform: capitalize;
}